<div class="container">
  <h1>Cocktails list</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail.name, cocktail %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-info" %>
</div>


