<h1>Cocktail details</h1>
  <%= @cocktail.name %>
<br>

<%#= @cocktail.doses %>
<br>

<% @cocktail.doses.each do |dose| %>

  <div class="col-4">
    <%= render "doses/card", dose: dose %>
  </div>
<% end %>


<%= link_to "See All Cocktails", cocktails_path, class: "btn btn-info" %>
<br>
