<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= dose.description %></h5>
    <!-- dose => dose instance -->
    <p>
      <%= dose.ingredient.name %>

    </p>
  </div>
</div>
